body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
.documentWrapper {
  width: 70%;
  margin: 0 auto;
}
.sidebar-box {
  width: 20%;
  float: left;
  padding-right: 10px;
  border-right: 1px solid #cecece;
}
.content-box {
  width: 70%;
  float: left;
  padding-left: 30px;
}
