{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "ol": true,
    "window": true,
    "document": true
  },
  "rules": {
    "generator-star-spacing": 0,
    "no-lonely-if":"off",
    "strict": "off",
    "no-tabs": "error",
    "no-mixed-spaces-and-tabs": "off",
    "no-confusing-arrow": "off",
    "quote-props": "warn",
    "no-underscore-dangle": 0,
    "class-methods-use-this": "off",
    "max-len": [1, 250],
    "camelcase": "off",
    "no-param-reassign": "off",
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "jsx-a11y/no-static-element-interactions": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "jsx-a11y/label-has-for": "off",
    "react/forbid-prop-types": "off",
    "react/no-unused-prop-types": ["error", { "skipShapeProps": true }],
    "react/jsx-filename-extension": ["error", { "extensions": ["js", "jsx"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/sort-comp": "off",
    "no-else-return": "off",
    "react/no-array-index-key": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.example.config.js"
      }
    }
  }
}
