@import "./index.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
.sidebar-box {
  width: 20%;
  float: left;
  padding-right: 10px;
  border-right: 1px solid #cecece;
}
.content-box {
  width: 70%;
  float: left;
  padding-left: 30px;
}
#fixed_head {
  top: 0px;
  margin-top: 0px;
}
.ui.table.grouping.grouping-row {
  tbody {
    tr:nth-child(1) {
      td {
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid rgba(34,36,38,.1);
      }
    }
    .totalRow {
      td {
        background: inherit;
        border-top: 1px solid rgba(34,36,38,.1);
      }
    }
  }
}

@import "./semantic.scss";
